@use '../base/variables' as v;
@use '../base/mixins' as m;

.best-sellers {
  padding: 30px 0;
  background-color: v.$bs-bg;

  // Header
  &__header {
    margin-bottom: 16px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.23;
    text-transform: capitalize;
    color: v.$black;

    @include m.desktop {
      font-size: 36px;
    }
  }

  &__view-all {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    display: flex;
    align-items: center;
    padding: 6px 0 6px 8px;
    text-decoration: none;
    color: v.$black;
    transition: color 250ms ease;

    &:hover {
      color: v.$gray;
    }

    &.is-expanded .best-sellers__arrow {
      transform: rotate(90deg);
    }
  }

  &__view-text {
    padding-right: 8px;
  }

  &__arrow {
    stroke: v.$black;
    fill: transparent;
    transition: transform 250ms ease, stroke 250ms ease;
  }

  &__view-all:hover &__arrow {
    stroke: v.$gray;
  }

  // Decor-arrows
  &__decor-mob {
    @include m.desktop {
      display: none;
    }
  }

  &__decor-desk {
    display: none;

    @include m.desktop {
      display: block;
    }
  }

  // Swiper slider
  &__slider {
    overflow: hidden; // ключевая строка!
  }

  .swiper {
    overflow: hidden;
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }

  .swiper-slide {
    height: auto; // чтобы не было странных пересчётов
  }

  // Card
  &__card {
    max-width: 164px;
    position: relative;
    transition: all 0.3s ease;

    border-radius: 6px;
    position: relative;
    scroll-snap-align: start;
    transition: all 0.3s ease;
    margin-bottom: 8px;

    @include m.desktop {
      max-width: 320px;
    }
  }

  &__image-wrapper {
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    border-radius: 6px;

    @include m.desktop {
      border-radius: 0;
    }
  }

  &__sizes {
    position: absolute;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }

  &__size {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background: v.$black;
    color: v.$bs-bg;
    cursor: pointer;
    transition: background v.$transition;

    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    font-size: 12px;
    // padding: 10px 7px;

    &:hover {
      background: v.$gray;
    }
  }

  &__card:hover &__sizes {
    opacity: 1;
    visibility: visible;
  }

  &__card--sold-out {
    opacity: 0.56;
    pointer-events: none;
  }

  // INFO
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 2px;
    color:v.$black;
  }

  &__price {
    font-weight: 400;
    color:v.$black;
  }

  &__price-current {
    font-size: 14px;
    line-height: 143%;
  }

  &__price-sale {
    font-size: 14px;
    line-height: 100%;
    color: v.$sale;
    margin-right: 6px;
  }

  &__price-old {
    color: v.$gray;
    text-decoration: line-through;
    line-height: 150%;
    font-size: 12px;
  }

  &__cart {
    height: 28px;
    padding: 6px;
    border: none;
    background: v.$black;
    border-radius: 6px;
    cursor: pointer;

    &:disabled {
      background: v.$gray;
      cursor: not-allowed;
    }

    @include m.desktop {
      display: none;
    }
  }

  &__cart-icon {
    fill: transparent;
    stroke: v.$white;
    stroke-width: 1px;
  }

  // LABELS
  &__label {
    position: absolute;
    top: 7px;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    padding: 2px 6px;
    border-radius: 2px;

    &--selling,
    &--sold-out {
      left: 0;
      background: v.$black;
      color: v.$white;
    }

    &--discount {
      right: 0;
      background: v.$white;
      color: v.$sale;
    }
  }
}