@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
  width: 100%;
  padding: 0;

  &__top {
    background-color: v.$black;
    text-align: center;
    padding: 6px 10px;

    @include m.desktop {
      height: 32px;
    }
  }

  &__promo {
    font-size: 12px;
    text-transform: uppercase;
    color: v.$white;
  }

  // MOBILE NAVIGATION
  &__nav {
    background-color: v.$white;
    // height: 53.52px;
    justify-content: center;
    width: 100%;

    @include m.desktop {
      background-color: #e3e3e3;
      // height: 78px;
    }
  }
    &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.desktop {
      height: 100%;
      padding-top: 0;
    }
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    flex: 1;
  }
  &__left {
    justify-content: flex-start;
  }
  &__right {
    justify-content: flex-end;
  }
  &__mobile-icons {
    display: flex;
    gap: 16px;

    @include m.desktop {
      display: none;
    }
  }

  &__logo {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    text-align: center;

    &-img {
      width: 121px;
      height: 45px;

      @include m.desktop {
        width: 264px;
        height: 66px;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 16px;

    @include m.desktop {
      gap: 40px;
    }
  }
  .icon-link {
    height: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
    color: currentColor;
    background-color: transparent;

    &:hover {
      stroke: #605e5c;
    }
  }
  .icon-burger,
  .icon-search-mob,
  .arr-down,
  .icon-search,
  .icon-user,
  .icon-cart {
    fill: transparent;
    stroke: #212322;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      stroke: #605e5c;
    }
  }

  .icon-search,
  .icon-user {
    display: none;
    @include m.desktop {
      display: block;
    }
  }
}