@use '../base/variables' as v;
@use '../base/mixins' as m;

.hero {
  height: 476px;
  position: relative;
  overflow: hidden;

  @include m.desktop {
    height: 703px;
    background-position: center;
  }

  &__img {
    position: absolute;
    inset: 0;
    z-index: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;

    @include m.desktop {
      object-position: center;
    }
  }

  &__content {
    width: 343px;
    padding: 16px 0;
    position: relative;
    z-index: 1;

    @include m.tablet {
      padding-top: 36px;
      background: rgba(239, 239, 239, 0.2);
      backdrop-filter: blur(28px);
    }

    @include m.desktop {
      width: 541px;
      padding-top: 75px;
      padding-left: 2px;
    }
  }

  &__text {
    margin-bottom: 16px;

    @include m.desktop {
      margin-bottom: 40px;
      padding: 16px 20px 0;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    text-transform: uppercase;
    color: v.$black;

    @include m.desktop {
      font-size: 64px;
      line-height: 122%;
      margin-bottom: 16px;
    }
  }

  &__line {
    display: block;

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }
  }

  &__accent {
    font-style: italic;
    font-weight: 200;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.02em;

    @include m.desktop {
      font-size: 72px;
      line-height: 131%;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 143%;
    color: v.$gray;

    @include m.desktop {
      font-size: 18px;
      line-height: 144%;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 133px;
    height: 50px;
    padding: 15px 32px;

    border-radius: 6px;
    background-color: v.$black;
    color: v.$white;
    text-decoration: none;

    font-size: 14px;
    line-height: 143%;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      opacity: 0.8;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    }

    @include m.desktop {
      width: 186px;
      margin-left: 20px;
    }
  }
}
