@use '../base/variables' as v;
@use '../base/mixins' as m;

.nav {
  display: none;

  @include m.desktop {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  }

  &__item {
    padding: 6px 12px;
    position: relative;

    &--has-submenu {
      &:hover {
        .nav__submenu {
          display: block;
        }

        .nav__arrow {
          transform: rotate(180deg);
          stroke: v.$gray;
        }
      }
    }
  }
  &__link {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color:v.$black;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: v.$gray;
    }
  }

  &__text {
    padding-right: 13px;
  }

  &__arrow {
    fill: transparent;
    stroke: v.$black;
    transition:
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    list-style: none;
    margin: 0;
    min-width: 150px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 100;
  }

  &__submenu-link {
    display: block;
    padding: 5px 0;
    color: v.$black;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: v.$gray;
    }
  }
}
