@use '../base/variables' as v;

.mobile-menu {
  position: fixed;
  inset: 0;
  z-index: 999;

  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.is-open {
    opacity: 1;
    visibility: visible;
  }

  &__panel {
    width: 50%;
    height: 290px;
    margin-top: 30px;
    padding: 16px;

    background-color: v.$white;
    position: relative;

    transform: translateX(-100%);
    transition: transform 0.3s ease;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include m.tablet {
      width: 30%;
    }
  }

.mobile-menu.is-open .mobile-menu__panel {
  transform: translateX(0);
}
  &__close {
    position: absolute;
    top: 16px;
    left: 16px;

    display: none;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    &-icon {
      padding: 8px;
      stroke: v.$black;
      transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        stroke: v.$gray;
      }
    }
  }

  &.is-open &__close {
    display: flex;
  }

  &__nav {
    margin-top: 20px;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;

    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    width: 100%;
    text-align: right;
  }

  &__link {
    display: block;
    padding: 5px;

    font-size: 14px;
    line-height: 143%;
    color: v.$black;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: v.$gray;
    }
  }
}
