<section class="advantages section">
    <div class="container">
        <div class="decor-icon-container">
            <svg width="121" height="214" viewBox="0 0 121 214" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="-227.791" y="101.144" width="239.583" height="239.583" transform="rotate(-43.1766 -227.791 101.144)"
                    stroke="#C0C0C0" />
                <circle cx="111.566" cy="111.947" r="5.51459" transform="rotate(-43.1766 111.566 111.947)" fill="#C0C0C0"
                    stroke="#C0C0C0" />
            </svg>
        </div>
        <ul class="advantage-list">
            <li class="advantage-item">
                <div class="icon-container">
                    <svg class="icon-advantages" width="64" height="64">
                        <use href="/SPLIT_Test/img/symbol-defs.svg#icon-flattering-fit"></use>
                    </svg>
                </div>
                <div class="separator"></div>
                <div class="title">Flattering Fit</div>
            </li>

            <li class="advantage-item">
                <div class="icon-container">
                    <svg class="icon-advantages" width="64" height="64">
                        <use href="/SPLIT_Test/img/symbol-defs.svg#icon-especially-formulated-fabric"></use>
                    </svg>
                </div>
                <div class="separator"></div>
                <div class="title">Especially formulated fabric</div>
            </li>

            <li class="advantage-item">
                <div class="icon-container">
                    <svg class="icon-advantages" width="64" height="64">
                        <use href="/SPLIT_Test/img/symbol-defs.svg#icon-buttery-soft"></use>
                    </svg>
                </div>
                <div class="separator"></div>
                <div class="title">Buttery Soft</div>
            </li>

            <li class="advantage-item">
                <div class="icon-container">
                    <svg class="icon-advantages" width="64" height="64">
                        <use href="/SPLIT_Test/img/symbol-defs.svg#icon-fit-and-colour-retention"></use>
                    </svg>
                </div>
                <div class="separator"></div>
                <div class="title">Fit and colour retention</div>
            </li>

            <li class="advantage-item">
                <div class="icon-container">
                    <svg class="icon-advantages" width="64" height="64">
                        <use href="/SPLIT_Test/img/symbol-defs.svg#icon-pre-shrunk"></use>
                    </svg>
                </div>
                <div class="separator"></div>
                <div class="title">Pre-Shrunk</div>
            </li>

            <li class="advantage-item">
                <div class="icon-container">
                    <svg class="icon-advantages" width="64" height="64">
                        <use href="/SPLIT_Test/img/symbol-defs.svg#icon-durable"></use>
                    </svg>
                </div>
                <div class="separator"></div>
                <div class="title">Durable</div>
            </li>
        </ul>
    </div>
</section>