<section class="hero section">
  <div class="container">
    <div class="hero-content">
      <div class="hero-content-wrapper">
        <h1 class="hero-title">
          <span class="line left">MAKE A</span>
          <span class="line center"><em>GREAT</em> FIRST</span>
          <span class="line left">IMPRESSION</span>
        </h1>
        <p class="hero-description">
          Add images and text to give focus to your chosen product, collection, or blog post
        </p>
      </div>
      <div class="hero-button">
        <a href="#best-sellers">Shop Now</a>
      </div>
    </div>
  </div>
</section>