<!-- MOB_MENU -->
<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container">
    <button class="close-btn" data-menu-close>
      <svg class="close-icon" width="24" height="24">
        <use href="/SPLIT_Test/img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="content-wrapper">
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a href="#" class="mobile-menu-link">Crew Necks</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#" class="mobile-menu-link">V-Necks</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#" class="mobile-menu-link">Activewear</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#" class="mobile-menu-link">Bundles</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>