<!-- MOB_MENU -->
<div class="mobile-menu" data-menu>
  <div class="mobile-menu__panel">
    <button class="mobile-menu__close" data-menu-close>
      <svg class="mobile-menu__close-icon" width="24" height="24">
        <use href="/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="mobile-menu__nav">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">Crew Necks</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">V-Necks</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">Activewear</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">Bundles</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<script type="module" src="/js/menu.js"></script>